<style>
  /* Navbar Styling */
  .search-btn {
      background-color: #fe424d;
      color: #fff;
     
      padding: 0.5rem 1.2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
  }
  
  .search-btn:hover {
      background-color: #e63946;
  }
  
  .search-input {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      width: 100%;
      
  }
  
  /* Fix Navbar Collapse */
  .navbar-collapse {
      text-align: center;
      background-color: #f8f9fa;

  }
  
  /* Responsive Fixes */
  @media (max-width: 768px) {
      .search-input {
          width: 100%;
      }
  
      .search-btn {
          width: 100%;
          margin-top: 0.5rem;
      }
  
      .navbar-nav {
          width: 100%;
      }
  
      .navbar-nav .nav-link {
          padding: 0.7rem;
          width: 100%;
      }
  }
  </style>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
      <div class="container-fluid">
          <!-- Brand Logo -->
          <a class="navbar-brand" href="/listings">
              <i class="fa-regular fa-compass"></i> <b>WanderNest</b>
          </a>
  
          <!-- Mobile Toggle Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <!-- Navbar Content -->
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item"><a class="nav-link" href="/listings">Explore</a></li>
              </ul>
  
              <!-- Search Bar -->
              <form action="/listings/search" method="get" class="d-flex flex-column flex-md-row w-100 px-2">
                  <input class="form-control search-input" type="search" placeholder="Search Destination" name="query">
                  <button class="btn search-btn mt-2 mt-md-0">
                      <i class="fa-solid fa-magnifying-glass"></i> Search
                  </button>
              </form>
  
              <!-- Auth Links -->
              <ul class="navbar-nav ms-auto text-center">
                  <li class="nav-item"><a class="nav-link" href="/listings/new">Airbnb your home</a></li>
                  <% if (!currUser) { %>
                      <li class="nav-item"><a class="nav-link" href="/signup"><b>Sign up</b></a></li>
                      <li class="nav-item"><a class="nav-link" href="/login"><b>Log in</b></a></li>
                  <% } else { %>
                      <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                  <% } %>
              </ul>
          </div>
      </div>
  </nav>
  